.tui-image-editor-container .tui-image-editor-header-logo, .tui-image-editor-container .tui-image-editor-controls-logo{
    display: none; 
}

.main{
    position: absolute;
    padding: 0.2em;
    z-index: 9;
    color: #de9c9c;
    font-size: 36px;
}

.tui-colorpicker-palette-container li {
    float: left;
    margin: 0;
    padding: 0 3px 3px 0;
    list-style: none;
}

.tui-colorpicker-palette-button {
    display: block;
    overflow: hidden;
    outline: none;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
}